.showcase-wrapper {
  padding: 60px 40px;
  text-align: center;
}

.showcase-header h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.showcase-header p {
  color: #666;
  margin-bottom: 40px;
}

.showcase-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.showcase-card {
  border-radius: 16px;
  /* padding: 20px; */
  text-align: left;
  background: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.showcase-video-wrapper {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.09);
}

.showcase-video {
  width: 100%;
  border-radius: 4px;
  display: block;
}

.showcase-card h3 {
  font-weight: 100;
  color: var(--lw-text-color-7);
  margin-right: 10px;
  font-size: 1.1rem;
}

.sub-con {
  display: flex;
  align-items: center;
}
.show-arrow {
  margin-left: 8px;
  color: var(--lw-text-color-7);
  opacity: 0;
  transform: translateX(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.showcase-card:hover .show-arrow {
  opacity: 1;
  transform: translateX(0);
}

.showcase-card h3:hover {
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .showcase-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .showcase-wrapper {
    padding: 50px 30px;
  }

  .showcase-header h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .showcase-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .showcase-wrapper {
    padding: 40px 15px;
  }

  .showcase-header h2 {
    font-size: 2rem;
  }

  .showcase-card h3 {
    font-size: 1rem;
  }

  .showcase-card p {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .showcase-wrapper {
    padding: 30px 10px;
  }

  .showcase-header h2 {
    font-size: 1.7rem;
  }

  .showcase-header p {
    margin-bottom: 30px;
    font-size: 0.95rem;
  }

  .showcase-card {
    padding: 10px;
  }

  .showcase-card p {
    font-size: 0.8rem;
  }
}
