.title-1 {
  color: var(--gray-color-2);
  font-size: var(--title1);
  padding: 0;
  margin: 0;
  font-weight: 300 !important;
  line-height: 28px;
}
.title-2 {
  color: var(--gray-color-2);
  color: var(--blue-dark);
  font-size: var(--title2);
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.title-3 {
  font-size: 28px;
  font-weight: 400;
}
.title-4 {
  color: var(--gray-color-7);
  font-size: var(--title3);
  font-weight: 200;
}
.title-5 {
  color: var(--gray-color-2);
  font-size: var(--title5);
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}
.p-2 {
  color: var(--gray-color-2);
  font-size: var(--small-text);
  font-weight: 300;
  line-height: 24px;
  padding: 1rem;
}
.p-3 {
  color: var(--gray-color-1);
  font-size: var(--regular-text);
  line-height: 28px;
  font-weight: 350;
  /* text-align: justify; */
}
.p-4 {
  color: var(--gray-color-2);
  font-size: var(--regular-text);
  font-weight: 400;
  text-align: center;
}
.p-5 {
  color: var(--gray-color-1);
  font-size: var(--small-text);
  font-weight: 300;
  line-height: 26px;
  text-align: justify;
}
.soft-shadow {
  box-shadow: 4px 4px 56px rgba(0, 0, 0, 0.1);
}
.mid-shadow {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2), 0px -5px 15px rgba(0, 0, 0, 0.2);
}

.border-bottom {
  border-bottom: 1px solid var(--gray-color-5);
}
.btn {
  outline: none;
  padding: 20px 32px !important;
  border: 1px solid var(--lw-text-color-9);
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
  cursor: pointer;
  font-size: 18px;
  color: var(--lw-text-color-2);
  background-color: transparent;
  transition: var(--trans);
}
.btn-fill {
  border: none;
  color: var(--white-color);
  background-color: var(--lw-text-color-1);
}
.btn:hover {
  color: var(--white-color);
  background-color: var(--lw-text-color-2);
}
.btn-fill:hover {
  background-color: var(--white-color);
  color: var(--blue-dark);
}
.mar-right {
  margin-right: 10px;
}
.mar-left {
  margin-left: 10px;
}
.mar-bottom {
  margin-bottom: 10px;
}
.mar-top {
  margin-top: 10px;
}
.max-wid {
  max-width: 1500px;
  margin: auto;
}
.max-wid2 {
  max-width: 1200px;
  margin: auto;
}

.text-white {
  color: #fff;
}

@media (max-width: 575px) {
  .title-2 {
    margin: 2rem 0;
    text-align: center;
  }
  .title-3 {
    font-size: 18px !important;
  }
}
@media (max-width: 784px) {
  .title-2 {
    margin: 2rem 0;
    text-align: center;
  }
  .title-3 {
    line-height: 25px;
    font-size: 24px;
  }
}

/* NEW section */
.t-1 {
  font-size: 50px;
  text-align: center;
  font-weight: 600 !important;
}
.t-2 {
  font-size: 40px;
  text-align: center;
  /* color: var(--lw-text-color-1); */
}
.t-3 {
  font-size: 30px;
  /* color: var(--lw-text-color-3); */
}
.t-4 {
  font-size: 20px;
  text-align: center;
  font-weight: 300 !important;
}

.p-1 {
  font-weight: 100;
  font-size: 15px;
  font-weight: 300 !important;
  color: var(--lw-text-color-3);
}
.p-2 {
  font-weight: 300;
  font-size: 18px;
  color: var(--lw-text-color-6);
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}

.uppercase-text {
  text-transform: uppercase;
}
