.nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 51;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
}

.nav .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--gray-color-5);
  transition: var(--trans);
  margin-top: 10px;
  padding-bottom: 5px;
  padding: 10px;
}
.align {
  display: flex;
  align-items: center;
}
.counter-tag-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 38px;
  background-color: var(--blue-dark);
  border-radius: 20px;
}
.counter-tag-nav p {
  text-align: center;
  padding: 0;
  color: var(--gray-color-4);
  margin: 0;
}
.align .ic {
  margin-right: 10px;
  margin-bottom: 2px;
}
.nav .link2 {
  font-weight: 300;
  width: 100%;
  font-size: var(--regular-text);
  text-decoration: none;
  color: var(--gray-color-9);
  transition: var(--trans);
}
.nav .item:hover {
  color: var(--blue-dark) !important;

  border-radius: 5px;
  background-color: var(--gray-color-5) !important;
}

/* When isShow is true, slide in */
.nav.active {
  transform: translateX(-100%);
}

/* When isShow is false, slide out */
.nav.hidden {
  transform: translateX(0);
}
